<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <!-- fuentes personalizadas -->
    <link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
    
    <!-- estilos personalizados css -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>


    <header>
        <div class="container">
            <img src="../static/Images/logo.png" alt="Paletería y Nevería Isabella" class="logo">
            <h1>Paletería y Nevería Isabella</h1>
            <nav>
                <ul>
                    <li><a href="/inventario" class="btn-nav">Inventario</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="inicio">
        <h2>¡Las mejores paletas están aquí!</h2>
        <p>Colores, sabores y mucha diversión en cada mordida.</p>
        <a href="/menu" class="btn-menu">Menu</a>
        </section>
        
    <footer>
        <p>© 2025 Paletería y Nevería Isabella. Todos los derechos reservados.</p>
        <p>Contacto</p>
    </footer>
</body>
</html>
